{% extends "base.html" %}

{% block content %}
<div class="container container-small">
  <h1 class="title">Here's Your New Image 🤐</h1>
  <form action="{{ url_for('uploaded_file', filename=filename) }}" class="form" method="POST" enctype="multipart/form-data">
    <div class="image-container">
      <div class="image-content">
        <img src="{{ url_for('uploaded_file', filename=filename) }}">
      </div>
    </div>
    <button type="submit" class="button submit-btn">Download Image</button>
  </form>
</div>
{% endblock %}
